.map-body-container {
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  align-items: center;
}

.info-window {
  color: #1e1e2e;
}

.info-window a {
  color: #89b4fa;
  text-decoration: underline;
}

.info-window h3 {
  line-height: 1;
  margin-bottom: 6px;
}

.map-container {
  height: 80vh;
  width: 80vw;
}

.marker {
  background-image: url("logo-sm.png");
  background-size: cover;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.map-popup .mapboxgl-popup-content {
  background-color: var(--crust);
  color: var(--text);
}
.map-popup .mapboxgl-popup-tip {
  border-top-color: var(--crust);
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
