.logo {
  display: none;
}

.logo-img {
  width: 60px;
  margin-right: 12px;
  border-radius: 50%;
  object-fit: cover;
}

.logo h1 {
  font-family: "Atomic Age", cursive;
  font-weight: 400;
  font-size: 30px;
  font-style: normal;
  color: var(--green);
  text-align: center;
  margin: 0px;
}

.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
}

nav {
  background-color: var(--base);
  padding: 12px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
}

nav ul li {
  display: inline-block;
  margin-right: 1.5em;
  margin-top: 0.5em;
  margin-left: 0;
  padding-left: 0;
}

nav ul li a:hover,
nav ul li a:focus {
  color: #89b4fa;
  transition: color 0.3s;
}

.search-field-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

.search-field {
  border-style: solid;
  border-width: 2px;
  border-color: var(--surface0);
  border-radius: 10px;
  background-color: transparent;
  padding: 10px;
  font-size: 18px;
  color: var(--text);
  transition: border-color 0.3s;
  max-width: 650px;
  height: 64px;
  flex-grow: 1;
  margin-left: 0px;
  align-self: center;
}

.search-field:focus {
  border-color: var(--blue);
  outline: none;
}

.orderby {
  margin-left: 12px;
  margin-right: 12px;
  align-self: center;
}

/* 800 */
@media (min-width: 800px) {
  .nav-bar-container {
    background-color: var(--base);
    padding: 12px;
  }

  .search-field {
    margin-left: 12px;
  }

  .logo {
    display: flex;
    align-items: center;
  }

  .search-field-container {
    padding-right: 12px;
  }
}
