.delete-button {
  text-decoration: underline;
  color: var(--red);
  background-color: transparent;
  border: 0px;
  cursor: pointer;
}

.table-header {
  text-align: left;
}

.convention-row-odd {
  background-color: var(--mantle);
}
